<%- include("../layouts/head") %>
<h1>index page</h1>

<%- include("../partials/flash") %>



<div id="card">

    <ul id="list-group">

<% users.forEach(function(user) { %>
    <li id="list-group-item">
        <%= user.username %></p>
    </li> 

    <% }) %> 
</ul>

</div>

<% if(user){ %>
    <h4 class="m-2">Aktif Kullanıcı <%- user.username %></h4>
    <% } %>